<section class="content">


    <div class="info-user">

        <img src="./../../assets/Alejandro.jpg" alt="img" >


        <div class="data-personal">
            <div class="data">
            <span class="badge bg-info text-white text">Name:</span>
            <span class="badge text-info text">Jose Alejandro Paredes Soto</span>
            </div>
            <div class="data">
                <span class="badge bg-info text-white text">Correo electronico (GMAIL):</span>
                <span class="badge text-info text">alejandroparedessoto18@gmail.com</span>
            </div>
            <div class="data">
                <span class="badge bg-info text-white text">Correo electronico (OUTLOOK):</span>
                <span class="badge text-info text">alejandro_paredes_soto@hotmail.com</span>
            </div>
            <div class="data">
                <span class="badge bg-info text-white text">Telefono (CASA)</span>
                <span class="badge text-info text">477-265-15-98</span>
            </div>

        </div>

    </div>


    <button class="btn btn-danger btnx" routerLink="">X</button>

</section>
